@model IEnumerable<Hotel.Models.reservations>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.GostId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SobaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumDolaska)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumOdlaska)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.GostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SobaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumDolaska)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumOdlaska)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Name = item.GostId }) |
                    @Html.ActionLink("Delete", "Delete", new { Name = item.GostId })
            </td>
        </tr>
}
    </tbody>
</table>
